@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model YourProjectName.Models.Volunteer
<div class="form">
    <h1>Join Us by volunteering</h1>
    <form asp-action="Create" method="post">
        <div class="mb-1">
            <label for="Name" class="UserName">Name</label>
            <input type="text" class="form-control" id="Name" name="Name" placeholder="Name" required>
        </div>
        <div class="mb-2">
            <label for="Surname" class="UserSurname">Surname</label>
            <input type="text" class="form-control" id="Surname" name="Surname" placeholder="Surname" required>
        </div>
        <div class="mb-3">
            <label for="Age" class="Userage">Age</label>
            <input type="text" class="form-control" id="Age" name="Age" placeholder="Age" required>
        </div>
        <div class="mb-3">
            <label for="Occupation" class="UserOccupation">Occupation</label>
            <input type="text" class="form-control" id="Occupation" name="Occupation" placeholder="Occupation" required>
        </div>
        <div class="row g-3">
            <div class="col-md-6">
                <label for="Email" class="form-label">Email</label>
                <input type="email" class="form-control" id="Email" name="Email" required>
            </div>
            <div class="col-md-6">
                <label for="Password" class="form-label">Password</label>
                <input type="password" class="form-control" id="Password" name="Password" required>
            </div>
            <div class="col-12">
                <label for="Address" class="form-label">Address</label>
                <input type="text" class="form-control" id="Address" name="Address" placeholder="1234 Main St" required>
            </div>
            <div class="col-12">
                <label for="Address2" class="form-label">Address 2</label>
                <input type="text" class="form-control" id="Address2" name="Address2" placeholder="Apartment, studio, or floor">
            </div>
            <div class="col-md-6">
                <label for="City" class="form-label">City</label>
                <input type="text" class="form-control" id="City" name="City" required>
            </div>
            <div class="col-md-4">
                <label for="State" class="form-label">State</label>
                <select id="State" name="State" class="form-select" required>
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>
            <div class="col-md-2">
                <label for="Zip" class="form-label">Zip</label>
                <input type="text" class="form-control" id="Zip" name="Zip" required>
            </div>
            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck" name="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Check me out
                    </label>
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn_join">Sign in</button>
            </div>
        </div>
    </form>
</div>
